:root {
  --light_shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  --dark_shadow: 4px 5px 3px 0 rgba(0, 0, 0, 0.5);
  --mainTransition: all 0.3s linear;
}
.App {
  text-align: center;
}
a:hover {
  text-decoration: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.check {
  background: purple;
  color: orange;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
/* // Social icons */
.social_icons {
  margin-right: 1rem;
}
.social_icon li {
  margin-right: 1rem;
  padding-top: 0.1rem;
}
.social_icon {
  font-size: 1.5rem;
  padding-top: 0.2rem;
  height: 100%;
}
.fb_icon:hover {
  color: #3b5998;
}
.twitter_icon:hover {
  color: #00acee;
}
.insta_icon:hover {
  color: #fbad50;
}

/* Add and Edit Products Container */
.addProducts,
.editProducts {
  margin-bottom: 5rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05rem;
}

.addProductsContainer,
.editProductsContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 2em;
}
.addProductsContainer form {
  width: 50%;
}
.editProductImg {
  width: 35%;
}

/* Button */
.generic_btn {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
